@import url('https://fonts.googleapis.com/css2?family=Abel&family=Righteous&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: "Twitchy.TV";
    src:
        url('../fonts/Twitchy.TV.woff') format('woff'),
        url('../fonts/Twitchy.TV.woff2') format('woff2'),
        url('../fonts/Twitchy.TV.ttf') format('truetype');
}

body {
    font-family: "Ubuntu";
}

.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(0.1rem, 90vw, 70rem);
    height: 3rem;
    margin-top: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transition: transform 0.4s cubic-bezier(.4,0,.2,1);
    will-change: transform;
}

.ancres a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: clamp(0.7rem, 3vw, 1rem);
    font-weight: bold;
}

.title {
    font-family: "Twitchy.TV";
    font-size: 2rem;
    color: #5c16c5;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5rem;
}

.title::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #5c16c5;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.contenair {
    display: flex;
    justify-content: center;
}

.box-paragraph {
    margin-top: 2rem;
    width: 45rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.contenair-overlay {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.contenair-overlay img {
    width: clamp(20rem, 80vw, 70rem);
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 1rem;
}

@media (max-width: 480px) {
    .box-paragraph {
        font-size: 1.1rem;
    }
}